@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*General*/
.bg-ale {
  background-color: #1d5597;
}

body {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.headerhome {
  background-color: #1b2a4a;
}
.headerhome .logosecundario {
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.headerhome .logosecundario .logoempresa2 {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulopage {
  font-size: large;
  margin: 1% 1%;
}

.logochat {
  position: fixed;
  right: 1%;
  bottom: 1%;
  z-index: 1;
  display: flex;
  width: 4%;
}

.parrafoheader2 {
  color: #fff;
  font-size: 250%;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 1%;
}

.textocomofunciona {
  background-color: #1b2a4a;
  display: flex;
  justify-content: center;
  padding-top: 0.2%;
  padding-left: 1%;
}
.textocomofunciona .comofunciona {
  color: #fff;
  font-weight: lighter;
  font-size: 180%;
  font-family: "Roboto", sans-serif;
}

.contenedorlogoreducido {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedorlogoreducido .logoreducido {
  width: 50%;
  margin-top: 30%;
  margin-bottom: 12%;
}

.contenedorparrafosection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedorparrafosection .parrafosection {
  padding: 10% 10%;
  color: #1b2a4a;
  font-size: 125%;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  margin: auto;
  width: 100%;
}

.parrafoonboarding {
  padding: 10% 5%;
  color: #1b2a4a;
  font-size: 125%;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  margin: auto;
  width: 75%;
}

.carousel-control-next-icon {
  background-color: #1b2a4a;
}

.carousel-control-prev-icon {
  background-color: #1b2a4a;
}

.nav-item {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.fotoscontainer {
  display: flex;
  justify-content: left;
}
.fotoscontainer .gridfotos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: auto;
}
.fotoscontainer .gridfotos .tamañoimagen {
  width: 400px;
  height: 250px;
  transition: all 1.5s;
}
.fotoscontainer .gridfotos .tamañoimagen:hover {
  transform: scale(1.2) rotate(360deg);
}

.textcontainer {
  flex-wrap: wrap;
}
.textcontainer .textlocation {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.textcontainer .textlocation p {
  color: #1b2a4a;
  font-font-weight: normal;
  font-font-family: "Roboto", sans-serif;
  font-size: 120%;
}

h3 {
  color: #1b2a4a;
  font-font-weight: bold;
  font-font-size: 30px;
  font-font-family: "Roboto", sans-serif;
  font-padding-left: 20px;
  font-padding-top: 20px;
}

.descripciones {
  width: 400px;
  padding-top: 50px;
}
.descripciones .tamaño {
  font-size: 25px;
}

footer ul li {
  color: #fff;
  font-size: 90%;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.footercontainer {
  margin-top: 10%;
  margin-bottom: 0%;
  padding-top: 0.5%;
  background-color: #1d5597;
  display: flex;
  justify-content: start;
}

.footeritems {
  list-style: none;
  display: flex;
  justify-content: start;
}

.redessociales {
  width: 3%;
  height: 100%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.email {
  padding-left: 0.5%;
  font-size: 110%;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.gridcontainernosotros {
  padding-top: 3%;
  display: grid;
  gap: 5%;
  grid-template-areas: "section-uno section-uno" "section-two section-two" "section-side section-side";
}
.gridcontainernosotros .Item1 {
  grid-area: section-uno;
}
.gridcontainernosotros .Item1 .parrafoonboardingnosotros {
  padding: 5% 5%;
  color: #1b2a4a;
  font-size: 125%;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.Item2 {
  grid-area: section-two;
}
.Item2 .alingimagenes {
  display: flex;
  justify-content: space-around;
}
.Item2 .alingimagenes .Imagenesclientes {
  padding-top: 2%;
  padding-bottom: 2%;
  width: 10%;
  height: 10%;
}
.Item2 .alingimagenes .Imagenesclientes:hover {
  transform: scale(1.3);
}

.Item3 {
  grid-area: section-side;
}
.Item3 .alingimagenes2 {
  display: flex;
  justify-content: space-evenly;
}
.Item3 .alingimagenes2 .Imagenescertificadas {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 10%;
  height: 5%;
}
.Item3 .alingimagenes2 .Imagenescertificadas:hover {
  transform: scale(1.3);
}

.parrafoonboardingnosotros2 {
  padding: 1% 5%;
  color: #1b2a4a;
  font-size: 125%;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.videowidth {
  padding-left: 30%;
  padding-right: 30%;
}

.boxfoto {
  display: flex;
  justify-content: center;
}
.boxfoto .userbox {
  width: 50%;
  height: 55%;
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.container .screen {
  position: relative;
  height: 100%;
  width: 360px;
  border: 3px solid #1d5597;
  border-radius: 5px;
}
.container .screen .screen__content {
  z-index: 1;
  position: relative;
  height: 50%;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #1d5597;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #1d5597;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #1d5597, #1d5597);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #1d5597;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.login {
  width: 300px;
  padding: 30px;
  padding-top: 50px;
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.login__input {
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #1d5597;
}

.login__submit {
  background: #1d5597;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #1d5597;
  box-shadow: 0px 2px 2px #1d5597;
  cursor: pointer;
  transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #1d5597;
  outline: none;
}

.button__text {
  color: #D1D1D4;
}

.fotoscontainer2 {
  display: flex;
  justify-content: left;
  padding-top: 5%;
}
.fotoscontainer2 .gridfotos2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.fotoscontainer2 .gridfotos2 .tamañoimagen2 {
  width: 10%;
  height: 100%;
  transition: all 1.5s;
}
.fotoscontainer2 .gridfotos2 .tamañoimagen2:hover {
  transform: scale(1.2);
}

.textcontainer2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.textcontainer2 .textlocation2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.textcontainer2 .textlocation2 p {
  color: #1b2a4a;
  font-font-weight: normal;
  font-font-family: "Roboto", sans-serif;
  font-size: 120%;
}

.descripciones2 {
  width: 400px;
  padding-top: 10px;
}
.descripciones2 .tamaño {
  font-size: 25px;
}

.containergeneral {
  padding-top: 2%;
}
.containergeneral .container1 {
  padding-top: 1%;
  padding-bottom: 1%;
}

.contenedorparrafosection2 {
  display: flex;
  text-align: right;
  width: 100%;
  padding-left: 30%;
  padding-right: 30%;
}
.contenedorparrafosection2 .parrafosection2 {
  display: flex;
  justify-content: right;
  color: #1b2a4a;
  font-size: 105%;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  margin: auto;
  width: 100%;
}
.contenedorparrafosection2 .parrafosection2 .row {
  width: 50%;
}

.container2 {
  padding-top: 1%;
  margin: 3% 3%;
  font-family: "Roboto", sans-serif;
}

.videowidth2 {
  padding-right: 30%;
}

/*Medidas responsive index*/
@media only screen and (max-width: 480px) {
  .footercontainer {
    padding-top: 2%;
    background-color: #1d5597;
  }

  .footeritems {
    display: flex;
    justify-content: center;
  }

  .redessociales {
    width: 9%;
    padding-left: 1%;
    padding-right: 1%;
  }

  .email {
    display: none;
  }

  .logosecundario {
    width: 250%;
  }

  .parrafoheader2 {
    display: none;
  }

  .logosecundario {
    display: none;
  }
}
/*Medidas responsive contacto*/
@media only screen and (max-width: 480px) {
  .parrafosection2 {
    flex-direction: column;
    padding-bottom: 2%;
  }

  iframe {
    flex-direction: column;
    height: 90%;
    width: 100%;
  }
}
/*Medidas responsive nosotros*/
@media only screen and (max-width: 480px) {
  .videowidth {
    padding: 1%;
    width: 100%;
  }

  .alingimagenes {
    align-items: center;
    width: 100%;
  }

  .alingimagenes2 {
    align-items: center;
    width: 100%;
    padding-bottom: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
