
.gridcontainernosotros{
    padding-top: 20px;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    'section-uno section-uno'
    'section-two section-two'
    'section-side section-side';
    }
    
    .Item1{
        grid-area: section-uno; }
    
     .parrafoonboardingnosotros{ 
         background-color: #1d5597;
         padding: 30px 30px;
         color: #fff; 
         font-size: 20px;
         font-weight: normal;
         font-family: 'Roboto', sans-serif;
         margin-top: 50px;
         margin-bottom: 50px;
         margin: auto;
    }
    
     
    .Item2{
        grid-area: section-two;
    }
    .alingimagenes{
        display: flex;
        justify-content: space-around;
    }
    .Imagenesclientes{
        padding-top: 50px;
        padding-bottom: 50px;
        width: 10%;
        height: 10%;
    }
    .Imagenesclientes:hover{
        transform: scale(1.3);
    }
    
    
    .Item3{
        grid-area: section-side;
     }
    
    .Imagenescertificadas{
        padding-top: 50px;
        padding-bottom: 50px;
        width: 10%;
        height: 5%
    }
    .Imagenescertificadas:hover{
        transform: scale(1.3);
    }
    
    
    
    .alingimagenes2{
        display: flex;
        justify-content: space-evenly
    }
    