

.headerhome{
    background-color: #1b2a4a; 
    .logosecundario{  
        color: #fff; 
        display: flex;
        justify-content: space-between;
        .logoempresa2{
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;                      
         }
       }
    }

.titulopage{
    font-size: large;
    margin: 1% 1%;
}

 
.logochat{
    position: fixed;
    right: 1%;
    bottom: 1%;
    z-index: 1;
    display: flex;
    width: 4%;    
    }
.parrafoheader2{
        color: #fff; 
        font-size: 250%; 
        font-weight: lighter;
        text-align: center;
        padding-bottom: 1%;
     }



.textocomofunciona{
    background-color: #1b2a4a; 
    display: flex;
    justify-content: center;
    padding-top: 0.2%;
    padding-left: 1%;
    .comofunciona{      
        color: #fff;   
        font-weight: lighter; 
        font-size: 180%;
        font-family: 'Roboto', sans-serif;
    }
}  
.contenedorlogoreducido{
    display: flex;
    justify-content: center;
    align-items: center;
    .logoreducido{
        width: 50%;
        margin-top: 30%;
        margin-bottom: 12%;
    } 
}

.contenedorparrafosection{
    display: flex;
    justify-content: center;
    align-items: center;
    .parrafosection{
        padding: 10% 10%;
        color: #1b2a4a; 
        font-size: 125%;
        font-weight: normal;
        font-family: 'Roboto', sans-serif;
        margin: auto;
        width: 100%;    
}
}

.parrafoonboarding{ 
        padding: 10% 5%;
         color: #1b2a4a; 
         font-size: 125%;
         font-weight: normal;
         font-family: 'Roboto', sans-serif;
         margin: auto;
         width: 75%;       
}

.carousel-control-next-icon{
    background-color: #1b2a4a; 
    }
.carousel-control-prev-icon{
    background-color:#1b2a4a; 
}
.nav-item {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}