
.fotoscontainer{
    display: flex;
    justify-content: left;  
    .gridfotos{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: auto;  
        .tamañoimagen{
            width: 400px;
            height: 250px;
            transition: all 1.5s;
            &:hover{
            transform: scale(1.2) rotate(360deg);
        }
     }
  } 
}

.textcontainer{
        flex-wrap: wrap;
    .textlocation{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;      
        p{        
        color: #1b2a4a;
        font: {
        font-weight: normal;
        font-family: 'Roboto', sans-serif;
        size: 120%;
   }
  }
 } 
}

h3{
    color: #1b2a4a;
    font: {
    font-weight: bold;
    font-size: 30px; 
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    }    
}

.descripciones{
    width: 400px;
    padding-top: 50px;
    .tamaño{
        font-size: 25px;
    }
}